.login-page-container {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../image/resto.png');
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the blur amount as needed */
  z-index: -1; /* Place it behind the content */
}
